.jumbotron-about{
    background-image: url('../images/icecream1.JPG');
    position: relative;
    background-position: 1260px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-tiktok{
  background-image: url('../images/icecream2.JPG');
    position: relative;
    background-position: 1260px -100px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-tunefind{
  background-image: url('../images/icecream4.JPG');
    position: relative;
    background-position: 1280px -100px;
    background-size: cover;
    height: 300px; 
}

.tint{
    z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0, 0.3);
}