.jumbotron-home{
  background-image: url('../images/hylt2.jpg');
    position: relative;
    background-position: 50px -100px;
    background-size: 1150px;
    height: 300px; 
}
.jumbotron-instagram{
  background-image: url('../images/d43.jpg');
    position: relative;
    background-position: 1280px -50px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-twitter{
  background-image: url('../images/d45.jpg');
    position: relative;
    background-position: 1280px -200px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-tiktok{
  background-image: url('../images/icecream2.JPG');
    position: relative;
    background-position: 1260px -100px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-spotify{
  background-image: url('../images/aiiyl1.jpg');
    position: relative;
    background-position: 1250px -250px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-about{
    background-image: url('../images/icecream1.JPG');
    position: relative;
    background-position: 1260px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-contact{
  background-image: url('../images/lovesickgirls3.jpg');
  position: relative;
  background-position: 1150px -150px;
  background-size: 1000px;
  height: 300px; 
}

.jumbotron-facebook{
  background-image: url('../images/ktl2.jpg');
    position: relative;
    background-position: 1280px -350px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-tunefind{
  background-image: url('../images/hylt4.jpg');
    position: relative;
    background-position: 1320px -20px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-music{
  background-image: url('../images/ktl5.jpg');
    position: relative;
    background-position: 1160px -100px;
    background-size: 1100px;
    height: 300px; 
}

.jumbotron-lyrics{
  background-image: url('../images/blackpink-1.jpg');
    position: relative;
    background-position: 1280px -200px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-musicvideos{
  background-image: url('../images/hylt1.jpeg');
    position: relative;
    background-position: 1280px -200px;
    background-size: cover;
    height: 300px; 
}

.jumbotron-youtube{
  background-image: url('../images/boombayah2.jpg');
    position: relative;
    background-position: 1280px -40px;
    background-size: cover;
    height: 300px; 
}

.tint{
    z-index: 1;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(0,0,0, 0.3);
}