.navlink:hover{
    color: black;
    opacity: 1;
    transition: all 0.3s ease;
    background: linear-gradient(180deg, #000000, #ffb3df);
    
}

.navdropdownlink:hover{
    color: white;
    width: auto;
    opacity: 1;
    transition: all 0.3s ease;
    background: linear-gradient(180deg, #000000, #ffb3df);
    
}

#basic-nav-dropdown{
    color: #ffb3df;
    background-color: black;
    
    
}


#basic-nav-dropdown:hover{
    background-color: #ffb3df;
    border-radius: 2px;
    color: black;
}

.divider {
    position: relative;
        margin-right: 14.1rem;
        margin-left: 6px;
        content: '';
        height: 2.3rem;
        width: 0.1rem;
        background: pink;
        position: absolute;
        top: 0.5rem;
        right: 20rem;
    
}


.dropdown-header{
    background: black;
}

.dropdown-divider{
    color: red;
}

.navbar-brand{
    
    color: white;
}